@import url(http://fonts.googleapis.com/css?family=Frijole);
.logo {
  font-family: Frijole;
  font-size: 30px;
  display:inline-block;
  color: white;
  -webkit-animation-name: logo-shake;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes logo-shake {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

@media only screen and (max-width : 760px) {
  body {
    background: #1B212F;
    background-size: 100px;
    width: 100%;
    background-size: 299px;
    background-position: center 10%;
    .wrapper {
      margin-top: 15rem;
      #player {
        width: 95%;
        margin: 0 auto;
        display: block;
        .search-field {
          font-size: 0.9rem;
          .tt-suggestion {
            font-size: 0.2rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 761px) {
  body {
    background: #1B212F;
    width: 100%;
    max-width: 1026px;
    .wrapper {
      #player {
        position: absolute;
        left: 23%;
        width: 54%;
        min-width: 400px;
        position: absolute;
        top: 16rem;
        .search-field {
          font-size: 1.3rem;
          position: relative;

            .tt-suggestion {
              font-size: 0.2rem;
            }
        }
      }
    }
  }
}

  * {
    box-sizing: border-box;
  }
  /*Color Scheme colors:
  writing: D8D8D8;
  background: 1B212F;
  innerdiv backgrounds: 222939;
  innerdiv accents: 333E54;
  standouts: D05158;
  */
body{
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 auto;
  overflow: hidden;
  &.waiting {
    cursor: wait;
  }
  &.bg {
    background: #1B212F url("../img/2loud.png");
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: center -25%;
    .wrapper {
      #player {
        #widget  {
          height: auto;
        }
        #soundCloudURL {
          display: block;
        }
      }
    }
  }
 .wrapper {
    #player {
      display: block;
      margin: 0 auto;
      background-color: rgba(51, 62, 84, 0.36);
      border-radius: 0;
        .loader {
          display: none;
        }
      #sc-widget {
        width: 95%;
        height: 100%;
      }
      #widget {
        height: 450px;
        margin-top: 10px;
        display: none;
        width: 100%;
        text-align: center;
      }
      .waveform {
        top: 0;
        left: 0;
        width: 100%;
      }
      .title{
        bottom: 13%;
        position: relative;
        color: white;
        text-align: center
      }
      #soundCloudURL {
        display: none;
        .twitter-typeahead {
          width: 100%;
          min-width: 100%;
          .tt-hint {
            color: #D8D8D8;
          }
        }
        .tt-dropdown-menu {
          width: 100%;
          border: 0;
          margin-top:  2px;
          max-height: 15rem;
          overflow-y:auto;
            .tt-dataset-tracks{
              color: #333E54;
            }
            .tt-suggestion {
              border: none;
              line-height: 1.3rem;
              padding: 1rem;
              font-color: #D05158;
              background-color:#1B212F;
              width: 100%;
              color: white;
              &:hover {
                background-color: #232B3B;
                cursor: pointer;
              }
            }
          }
        }
      .search-field {
        margin: auto;
        width: 100%;
        vertical-align: top;
        background: transparent;
        border: none;
        color: white;
        cursor: text;
        line-height: 2rem;
        padding: 1rem;
        border-radius: 0;
        &:focus {
          outline:0;
        }
      }
      &.show-widget {
        -webkit-transition: all 1s;
        height: 15rem;
      }
    }
  }
  .screens {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    #connect-button {
      width: 40%;
      margin: 0 auto;
      margin-top: 25%;
      padding: 1rem;
      text-align: center;
      background-color: rgba(38, 38, 39, 0.79);
      color: #D8D8D8;
      border-radius: 10px;
      z-index: 1;
      font-size: 3rem;
      color: wheat;
      cursor: pointer;
      h3 {
        text-align: center;
        color: wheat;
      }
    }
    #wait-screen {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 3em;
      color: #fff;
      display: none;
      position: absolute;
      height: 0px;
      left: 0px;
      width: 100%;
      top: 71px;
      h3 {
        text-align: center;
      }
    }
    #guest-playing {
      display: none;
      width: 50%;
      padding: 3rem;
      text-align: center;
      background-color: #333E54;
      color: #D8D8D8;
      margin: 0 auto;
      border-radius: 10px;
      z-index: 1;
      margin-top: 3rem;
    }
  }

  #d3 {
    svg {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      rect {
        position: absolute;
        top: 0;
        left: 0;
        fill: none;
        pointer-events: all;
        z-index: 100
      }
      circle {
        fill: none;
        stroke-width: 2.5px;
        z-index: 100
      }
    }
  }
}

