/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Frijole);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 0; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.logo {
  font-family: Frijole;
  font-size: 30px;
  display: inline-block;
  color: white;
  -webkit-animation-name: logo-shake;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear; }

@-webkit-keyframes logo-shake {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg); }

  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg); }

  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg); }

  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg); }

  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg); }

  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg); }

  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg); }

  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg); }

  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg); }

  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg); }

  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg); } }
@media only screen and (max-width: 760px) {
  body {
    background: #1B212F;
    background-size: 100px;
    width: 100%;
    background-size: 299px;
    background-position: center 10%; }
    body .wrapper {
      margin-top: 15rem; }
      body .wrapper #player {
        width: 95%;
        margin: 0 auto;
        display: block; }
        body .wrapper #player .search-field {
          font-size: 0.9rem; }
          body .wrapper #player .search-field .tt-suggestion {
            font-size: 0.2rem; } }
@media only screen and (min-width: 761px) {
  body {
    background: #1B212F;
    width: 100%;
    max-width: 1026px; }
    body .wrapper #player {
      position: absolute;
      left: 23%;
      width: 54%;
      min-width: 400px;
      position: absolute;
      top: 16rem; }
      body .wrapper #player .search-field {
        font-size: 1.3rem;
        position: relative; }
        body .wrapper #player .search-field .tt-suggestion {
          font-size: 0.2rem; } }
* {
  box-sizing: border-box; }

/*Color Scheme colors:
writing: D8D8D8;
background: 1B212F;
innerdiv backgrounds: 222939;
innerdiv accents: 333E54;
standouts: D05158;
*/
body {
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 auto;
  overflow: hidden; }
  body.waiting {
    cursor: wait; }
  body.bg {
    background: #1b212f url("../img/2loud.png");
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: center -25%; }
  body .wrapper #player {
    display: block;
    margin: 0 auto;
    background-color: rgba(51, 62, 84, 0.36);
    border-radius: 0; }
    body .wrapper #player #sc-widget {
      width: 4rem;
      height: 5.5rem; }
    body .wrapper #player #button {
      display: none;
      width: 100%;
      position: absolute;
      text-align: center;
      left: 0; }
    body .wrapper #player #widget {
      width: 100%;
      text-align: center; }
    body .wrapper #player .waveform {
      top: 0;
      left: 0;
      width: 100%; }
    body .wrapper #player .title {
      bottom: 13%;
      position: relative;
      color: white;
      text-align: center; }
    body .wrapper #player #soundCloudURL .twitter-typeahead {
      width: 100%;
      min-width: 100%; }
      body .wrapper #player #soundCloudURL .twitter-typeahead .tt-hint {
        color: #D8D8D8; }
    body .wrapper #player #soundCloudURL .tt-dropdown-menu {
      width: 100%;
      border: 0;
      margin-top: 2px;
      max-height: 15rem;
      overflow-y: auto; }
      body .wrapper #player #soundCloudURL .tt-dropdown-menu .tt-dataset-tracks {
        color: #333E54; }
      body .wrapper #player #soundCloudURL .tt-dropdown-menu .tt-suggestion {
        border: none;
        line-height: 1.3rem;
        padding: 1rem;
        font-color: #D05158;
        background-color: transparent;
        width: 100%;
        color: white; }
        body .wrapper #player #soundCloudURL .tt-dropdown-menu .tt-suggestion:hover {
          background-color: rgba(51, 62, 84, 0.36);
          cursor: pointer; }
    body .wrapper #player .search-field {
      margin: auto;
      width: 100%;
      vertical-align: top;
      background: transparent;
      border: none;
      color: white;
      cursor: text;
      line-height: 2rem;
      padding: 1rem;
      border-radius: 0; }
      body .wrapper #player .search-field:focus {
        outline: 0; }
    body .wrapper #player.show-widget {
      -webkit-transition: all 1s;
      height: 15rem; }
  body .screens {
    width: 100%;
    margin: 0 auto;
    text-align: center; }
    body .screens #connect-button {
      width: 40%;
      margin: 0 auto;
      margin-top: 25%;
      padding: 1rem;
      text-align: center;
      background-color: rgba(38, 38, 39, 0.79);
      color: #D8D8D8;
      border-radius: 10px;
      z-index: 1;
      font-size: 3rem;
      color: wheat;
      cursor: pointer; }
      body .screens #connect-button h3 {
        text-align: center;
        color: wheat; }
    body .screens #wait-screen {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 3em;
      color: #fff;
      display: none;
      position: absolute;
      height: 0px;
      left: 0px;
      width: 100%;
      top: 100px; }
      body .screens #wait-screen h3 {
        text-align: center; }
    body .screens #guest-playing {
      display: none;
      width: 50%;
      padding: 3rem;
      text-align: center;
      background-color: #333E54;
      color: #D8D8D8;
      margin: 0 auto;
      border-radius: 10px;
      z-index: 1;
      margin-top: 3rem; }
  body #d3 svg {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0; }
    body #d3 svg rect {
      position: absolute;
      top: 0;
      left: 0;
      fill: none;
      pointer-events: all;
      z-index: 100; }
    body #d3 svg circle {
      fill: none;
      stroke-width: 2.5px;
      z-index: 100; }

.loader {
  position: fixed;
  z-index: 3;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -30px;
  width: 60px;
  height: 60px;
  list-style: none; }

@-webkit-keyframes 'loadbars' {
  0% {
    height: 10px;
    margin-top: 25px; }

  50% {
    height: 50px;
    margin-top: 0px; }

  100% {
    height: 10px;
    margin-top: 25px; } }
li {
  background-color: white;
  width: 10px;
  height: 10px;
  float: right;
  margin-right: 5px;
  -webkit-filter: blur(3px); }

li:first-child {
  -webkit-animation: loadbars 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) infinite 0s; }

li:nth-child(2) {
  -webkit-animation: loadbars 0.6s ease-in-out infinite -0.2s; }

li:nth-child(3) {
  -webkit-animation: loadbars 0.6s ease-in-out infinite -0.4s; }

::-webkit-scrollbar {
  background: rgba(51, 62, 84, 0.36); }

::-webkit-scrollbar-track {
  color: white; }

::-webkit-scrollbar-thumb {
  background: white; }
